<p>
    <% if current_user %>
        Welcomes <%= current_user.name %>
        <%= link_to "Sign Out", signout_path %>
    <% else %>
        <%= link_to "Log in", "/auth/identity" %>
        <%= link_to "Register","/auth/identity/register" %>
    <% end %>
</p>
<hr
<%= form_authenticity_token %>